body {
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: #EEEEEE;
}

#header {
  width: 100%;
  background-color: #3B5998;
  box-shadow: 0 -70px 70px 70px rgba(0, 0, 0, .7);
  text-shadow: 0 -1px 0px rgba(0, 0, 0, .7);
  border-bottom: 1px solid #EEEEEE;
}

#subheader {
  padding: 5px;
  width: 700px;
  color: white;
  margin: auto;
}

#subheader h1 {
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 5px;
}

#subheader ul {
  text-align: right;
  font-weight: bold;
  margin: 5px;
}

#subheader li {
  display: inline;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

#subheader li:hover {
  text-decoration: underline;
}

#maindiv {
  width: 800px;
  margin: auto;
}

#inputdiv {
  margin: auto;
  width: 80%;
}

#inputdiv .input {
  margin: 10px 0px 10px 0px;
  padding: 5px;
  border: 1px dashed #CCCCCC;
  width: 98%;
  font-size: 18px;
  height: 20px;
}

#resultsdiv {
  width: 100%;
  margin: auto;
  padding: 0px 5px 5px 5px;
  float: left;
}

#resultsdiv table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #333333;
}

#resultsdiv td {
  padding: 7px;
  border-bottom: 1px dashed #CCCCCC;
}

#sidediv {
  float: left;
  border-right: 1px solid #CCCCCC;
  padding: 5px;
  width: 200px;
  margin: auto;
}

#sidediv table {
  margin: 0px;
  padding: 0px;
}

#sidediv tr {
  margin: 2px;
  padding: 2px;
}

#sidediv td {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
  color: #3B5998;
}

#postdiv {
  width: 700px;
  padding: 0;
  margin: auto;
  text-align: center;
}

#postdiv h1 {
  color: #777777;
  font-size: 24px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}

#postdiv textarea {
  margin: 10px 0px 0px 0px;
  padding: 5px;
  border: 1px solid #CCCCCC;
  width: 670px;
  font-size: 15px;
  height: 55px;
  background-color: white;
  color: #444444;
  font-family: sans;
  border-radius: 4px;
  -moz-transition-property: box-shadow, border;
  -moz-transition-duration: .4s, .4s;
  -webkit-transition-property: box-shadow, border;
  -webkit-transition-duration: .4s, .4s;
  transition-property: box-shadow, border;
  transition-duration: .4s, .4s;
}

#postdiv textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

#postdiv textarea:-moz-placeholder {
  color: #CCCCCC;
}

#postdiv textarea:focus {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .25);
  border: 1px solid #999999;
}

#postdiv button {
  padding: 5px;
  margin: 15px;
  width: 130px;
  font-size: 13px;
  float: right;
  color: white;
  background-color: #AAAAAA;
  border: none;
  border-radius: 3px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .2),
               0px 2px 3px rgba(255, 255, 255, .3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3),
              -5px -5px 10px 0px rgba(0, 0, 0, .1) inset,
              5px 5px 10px 0px rgba(255, 255, 255, .1) inset,
              -1px -1px 0px 0px rgba(0, 0, 0, .1) inset;
  -moz-transition-property: background, box-shadow;
  -moz-transition-duration: .25s, .25s;
  -webkit-transition-property: background, box-shadow;
  -webkit-transition-duration: .25s, .25s;
  transition-property: background, box-shadow;
  transition-duration: .25s, .25s;
}

#postdiv button:hover {
  background-color: #A0A0A0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4),
              -5px -5px 10px 0px rgba(0, 0, 0, .15) inset,
              5px 5px 10px 0px rgba(255, 255, 255, .15) inset;
}

#postdiv button#everyonebutton {
  background-color: #5A87E6;
}

#postdiv button#everyonebutton:hover {
  background-color: #5077CC;
}

#countid {
  color: rgba(0, 0, 0, .3); /* color gets changed when we run out of chars */
  text-align: left;
  width: 600px;
  font-size: 20px;
  margin-left: 10px;
}

.rating {
  font-size: 24px;
  color: #3B5998;
  font-weight: bold;
}

.table_title {
  font-size: 14px;
  font-weight: bold;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #3B5998;
  margin: 0px 0px 2px 0px;
  cursor: pointer;
}

.msg {
  font-size: 14px;
  margin: 2px 2px 0px 0px;
  padding: 2px;
}

.time {
  font-size: 10px;
  margin: 2px 2px 0px 0px;
  padding: 2px;
  color: #999999;
}

img {
  padding: 2px;
  border: 1px solid #CCCCCC;
  width: 40px;
  height: 40px;
}
